include contentanalyzer.py
include directory.py
include expression.py
include google_safe_browser.py
include link_processor.py
include util.py
include chisafe.py
include unit_test_utils.py
include html/violence.html
include text/violence_temp.txt
include unit_test_stemming.py
include unit_test_learning.py
include unit_test_Bayesian.py
include unittest_agg.py
include html/unittest.html
include text/tobacco_temp.txt
include html/tobacco.html
include text/racism_temp.txt
include text/porn_temp.txt
include html/porn.html
include html/guns.html
include text/good_temp.txt
include text/drugs_temp.txt
include html/drugs.html
include text/alcohol_temp.txt
include html/alcohol.html
include text/drugs_bad.txt
include text/porn_bad.txt
include text/violence_bad.txt
include text/racism_bad.txt
include text/tobacco_bad.txt
include text/alcohol_bad.txt
include text/medicine.txt
include text/games.txt
include text/news.txt
include MANIFEST.in
include README.txt
